body {
    margin: 5px;
    background-color: #ba8602;
    background: url(assets\images\tablet_background.webp);
    background-size: cover;
}

#game {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.light {
    height: 10rem;
    width: 10rem;
    margin: 10px;
    background-color: red;
    border: 1px red;
    border-radius: 50%;
}

#score {
    margin: 10px;
}

#rules {
    margin: 10px;
}
/* Mobile media query */
@media only screen and (max-width: 600px) {

    .mobile_hide {
        display: none;
    }
}

/* Tablet media query */
@media only screen and (min-width: 600px) {
    .tablet_hide {
        display: none;
    }

    #game {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
}

/* Desktop media query */
@media only screen and (min-width: 992px) {
    #game {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

}