body {
    height: 100%;
    margin: 5px;
    background-image: url("../images/mobile_background.webp");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
/*Main game canvas*/
#game {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

/*Styling for light button divs when 'off'*/
.light {
    height: 10rem;
    width: 10rem;
    margin: 10px;
    background-color: red;
    border: 3px solid black;
    border-radius: 50%;
}

/*Class for JS to use to turn light button divs to 'on'*/
.light_on {
    background-color: lightgreen;
    border: 3px solid green;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    position: absolute;
    bottom : 10px;
    margin: 5px;
}

#score {
    margin: 10px;
}

#rules {
    margin: 10px;
}
/* Mobile media query */
@media only screen and (max-width: 600px) {

    .mobile_hide {
        display: none;
    }
}

/* Tablet media query */


@media only screen and (min-width: 600px) {
    
    body {
        background-image: url("../images/tablet_background.webp");
    }      
}

/* Desktop media query */
@media only screen and (min-width: 992px) {
    body {
        background-image: url("../images/desktop_background.webp");
    }
    #game {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

}